* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  font: 14px/1.5 Helvetica, Arial, sans-serif;
}

.container {
  padding: 16px;
}

.nav {
  list-style: none;
}
.nav .nav-item {
  display: block;
  padding: 14px 10px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card .card-header {
  padding: 0.8em 0.4em;
  background-color: #223217;
  color: #fff;
  border-radius: 8px 8px 0 0;
  border: 1px solid #223217;
  border-bottom: 0;
}
.card .card-body {
  padding: 1.8em 0.4em;
  border-right: 1px solid #223217;
  border-left: 1px solid #223217;
  border-bottom: 1px solid #223217;
}
.card .card-footer {
  padding: 0.8em 0.4em;
  border-radius: 0 0 8px 8px;
  border: 1px solid #223217;
  border-top: none;
  background-color: #223217;
}

aside {
  width: 20vw;
  position: fixed;
  height: 100vh;
  background-color: #5d893f;
}
aside .head-link {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  padding: 0.4em 0;
}
aside .head-link:hover,
aside .nav-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
aside #links {
  margin-top: 60px;
}
aside #links a {
  text-decoration: none;
  color: #fff;
}
aside #links a:hover {
  text-decoration: underline;
}

main {
  height: 100vh;
  margin-left: 20vw;
  width: 80vw;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mt-1 {
  margin-top: 10px;
}

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mt-2 {
  margin-top: 20px;
}

.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.mt-3 {
  margin-top: 30px;
}

.py-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mt-4 {
  margin-top: 40px;
}

.py-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.mt-5 {
  margin-top: 50px;
}

.btn {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #223217;
  color: #fff;
  text-decoration: none;
  border: none;
}

.btn-primary {
  background: #0d6efd;
}

.action-card {
  border: 3px solid #223217;
  border-radius: 8px;
  padding: 16px 8px;
  color: #223217;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  transition: all 0.3s;
}
.action-card .label {
  font-size: 1.2em;
  grid-row: 3/3;
  grid-column: 1/1;
}
.action-card .count {
  text-align: center;
  font-size: 3.5em;
  grid-column: 2/2;
  grid-row: 1/4;
}
.action-card:hover {
  background-color: #223217;
  color: #fff;
}

a.action-card {
  text-decoration: none;
}

td.details-control {
  background: url("/assets/details_open.png") no-repeat center center;
  cursor: pointer;
}

tr.shown td.details-control {
  background: url("/assets/details_close.png") no-repeat center center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

[class*=col-] {
  width: 100%;
  padding: 0.4em;
}

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
